<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ branch }}</title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <p>{{ branch }}</p>
    </body>
</html>